/* Home screen styles */
.home-container {
  text-align: center;
  padding: 30px;
  max-width: 1200px;
  margin: 80px auto 0;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 12px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

/* Menu container grid layout */
.menu-container {
  display: grid;
  grid-template-columns: repeat(
    auto-fit,
    minmax(300px, 1fr)
  ); /* 3 items per row */
  gap: 30px; /* Spacing between items */
  margin-top: 30px;
  justify-content: center;
}

/* Menu item styles */
.menu-item {
  background-color: white;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: transform 0.3s, box-shadow 0.3s;
  text-align: center;
  overflow: hidden;
  padding: 20px;
}

.menu-item:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

/* Menu item image */
.menu-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 15px;
}

/* Menu item title */
.menu-item h3 {
  font-size: 22px;
  font-weight: bold;
  color: #333;
  margin: 0;
  transition: color 0.3s ease;
}

.menu-item h3:hover {
  color: #007bff;
}

/* Welcome screen styles */
.welcome-container {
  max-width: 800px;
  margin: 100px auto 0;
  padding: 40px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.welcome-container h2 {
  font-size: 32px;
  margin-bottom: 20px;
  color: var(--secondary-color);
}

.welcome-container p {
  font-size: 18px;
  margin-bottom: 30px;
  color: #666;
  line-height: 1.5;
}

/* Multicolored gradient text */
.gradient-text {
  font-size: 20px; /* Adjust font size as needed */
  font-weight: bold; /* Optional: Make the text bold */
  background: linear-gradient(
    to right,
    rgb(229, 4, 229),
    rgb(239, 124, 143)
  ); /* Gradient colors */
  -webkit-background-clip: text; /* Clip the background to the text */
  -webkit-text-fill-color: transparent; /* Make the text itself transparent */
  text-align: center; /* Center the text */
}

/* Data report button */
.data-report-button {
  display: block;
  margin: 40px auto;
  padding: 15px 30px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.data-report-button:hover {
  background-color: #0056b3;
  transform: translateY(-3px);
}
